  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome {{email}}</h2>
        <p>{{city}}, {{state}} {{zip}}</p>
      </div>
    </div>
    <label for="site-search">Search the site:</label>
      <input type="search" id="title-search" name="q"
       aria-label="Search through site content">
      <button id="search-title">Search</button>
      <div id="output"></div>
  </div>
