<nav class="navbar transparent navbar-inverse">
  <a class="navbar-inner">
    <img src="backgrounds/gameswaplogo.png" height="30" alt="" loading="lazy">
  </a>
</nav>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        LOGOUT
      </a>
      <a class="navbar-brand" href="#">
        <button class="btn btn-glass" id="view-collection">View Collection</button>
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <center><h2>Welcome <span id="user-email">{{email}}</span></h2></center>
        <center><p>{{city}}, {{state}} {{zip}}</p></center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
    <label for="site-search">Search for a game:</label>
      <input class="form-control" type="search" id="title-search" name="q"
       aria-label="Search through site content">
       </div>
       <div class="col-md-4">
      <label for="platforms">Choose a platform:</label>
    <select class="form-control" id="platforms">
      <option value="48">PlayStation 4</option>
      <option value="49">X Box One</option>
      <option value="130">Nintendo Switch</option>
    </select> 
    </div>
    <div class="col-md-4">
      <label for="platforms">Click to search:</label>
      <button class="form-control" id="search-title">Search</button>
      </div>
      </div>
      <div id="output"></div>
  </div>

