{{!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
</head> --}}
<div class="container">
  <center><h2>Collection of Games</h2></center>
    <div class="row">
      <div class="col">
        {{#each games}} 
        <h3>{{dataValues.title}} / {{dataValues.platform}}</h3>
        <p>Summary: {{dataValues.summary}}</p>
        <p>Username: {{dataValues.user}}</p>
        <hr>
        {{/each}}
      </div>
    </div>
  </div>