{{!-- <nav class="navbar transparent navbar-inverse">
  <a class="navbar-inner">
    <img src="backgrounds/gameswaplogo.png" height="30" alt="" loading="lazy">
  </a>
</nav> --}}
<div class="container-fluid">
  <center><h2>Collection of games</h2></center>
    <div class="row">
      <div class="col">
        {{#each games}} 
        <h3>{{dataValues.title}} / {{dataValues.platform}}</h3>
        <p>Summary: {{dataValues.summary}}</p>
        <p>Username: {{dataValues.user}}</p>
        <hr>
        {{/each}}
      </div>
    </div>
  </div>